.first {
	background-color: orange;
	width: 50%;
	height: 100px;
}
.second {
	background-color: white;
	width: 50%;
	height: 100px;
}
.third{
	background-color: green;
	width: 50%;
	height: 100px;

}